<div class="container mt-5">
  <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{errormsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div *ngIf="successmsg" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{successmsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <form [formGroup]="userForm">
    <div class="col-lg-4 mt-2">
      <input type="text" class="form-control" formControlName="nomecompleto" placeholder="Insira seu nome completo">
    </div>
    <div class="col-lg-4 mt-2">
      <input type="text" class="form-control" formControlName="celular" placeholder="Insira seu número de celular">
    </div>
    <div class="col-lg-4 mt-2">
      <input type="text" class="form-control" formControlName="email" placeholder="Insira seu email">
    </div>
    <div class="col-lg-4 mt-2">
      <button class="btn btn-primary btn-sm" *ngIf="!getparamid" (click)="userSubmit()">Salvar</button>
    </div>

    <div class="col-lg-4 mt-2" *ngIf="getparamid" click="userUpdate()">
      <button class="btn btn-dark btn-sm">Editar</button>
    </div>


  </form>
</div>
